@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.welcome-container {
    width: $mobile-width;
    height: $mobile-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F7D7F8, #AD2FAF);;

    border-radius: 20px;
    }
    
    .icon-image {
        width: 300px; 
        height: 300px;
      
    }
    
    .continuation{
      width: 50px;
      height: 50px;
      display: flex;
      margin-left: 333px;
      margin-top: -70px;
      color: $color-7;
    }

    @media screen and (min-width: 768px) {
        .welcome-container {
          width: $desktop-width;
          height: $desktop-height;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to right, #F7D7F8, #AD2FAF);
          border-radius: 20px;
        }
        .icon-image{
            width: 600px;
            height: 600px;
            align-items: center;
        }
        .continuation{
          width: 50px;
          height: 50px;
          display: flex;
          margin-left: 910px;
          margin-top: -70px;
          color: $color-7;
        }
      }
    