body {
    background-color: #020126;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020126;
    width: 90%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;

    & .song-description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1.8rem;
        & h2 {
        color: white;
        }
    }
  }
  
  .musicCover {
    width: 85%;
  }
  
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }

  .song-info {
    width: 90%;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
  }
    .song-info-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .title {
        padding: 1rem 0;
        font-size: 2rem;
        color: white;
    }
    
    .subTitle {
        text-align: start;
        font-size: 1.5rem;
        color: #4f4f4f;
    }

  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: white;
  }
  
  input[type="range"] {
    background-color: white;
  }
  
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }