@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.header{
    width: 100%;
    height: 70px;
    @include flexCenter(row, space-between, center);
/*    */
    border-top-right-radius: 33px;
    border-top-left-radius: 33px;
    padding: 0 20px 0 10px;
    .interactions{
        width: 31px;
        height: 26px;
        color: withe;
        @include flexCenter(row, space-between, center); 
        .bell, .History, .Settings{
            font-size: 35px;
            color: $color-7;
            display: grid;

        }
    }
}
    

