@use './variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-source;
  background-color: $primary-text-color ;
  display: grid;
  place-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  width: $mobile-width;
  height: $mobile-height;
  background-color: $color-1; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 33px;
  position: relative;
}