@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Colors */
$color-1: #020126;
$color-2: #F2EA7E;
$color-3: #D93829;
$color-4: #400101;
$color-5: #0D0D0D;

$primary-text-color: #ffff;
$secondary-text-color: #A2A2A2;


/* Fonts */
$font-source: 'Poppins', sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;


/* Screen sizes */
$mobile-width: 414px; 
$mobile-height: 869px; 
$tablet-width: 1280px;
$tablet-height: 800px;
$desktop-width: 1920px;
$desktop-height: 1080px;
