 @use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

    .library-container {
    width: $mobile-width;
    height: 721px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 14px;
    background: $color-11;
    }
    .library-header-mylibrary{
        h1 {
            font-size: 24px;
            color: $color-1;
            margin-left: 20px;
            margin-top: -81px;
            align-items: center;
            display: grid;
            @include flexCenter(row, flex-start, center)
            
        }
    }
    .library-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;

    .back-icon {
        font-size: 20px;
        color: $color-3;
        cursor: pointer;
        margin-right: 20px;
        margin-top: -50px;
        &:hover,
            &:active,
            &:focus {
              color: $color-7;
            }
    }
    }

    .library-section {
    width: 97%;
    /* max-width: 600px; */ 
    margin-bottom: 63px;
    }

    h2 {
    font-size: 20px;
    color: $color-6;
    margin-bottom: 15px;
    }

    .song-item,
    .album-item,
    .playlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: $color-7;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    img {
        width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
        border-radius: 5px;
        margin-right: 10px;
    }

    p {
        margin: 0;
        flex: 1;
    }

    .icon {
        font-size: 18px;
        color: $color-3;
        cursor: pointer;
    }
    }

    @media screen and (min-width: 768px) {
        .library-container {
          width: $desktop-width;
          height: $desktop-height;
          display: flex;
          flex-direction: column;
          align-items: center;
         
        }
      
        .library-section {
          max-width: 1200px; 
        }

        .h2 {
            font-size: 20px;
            color: $color-6;
            margin-bottom: 15px;
            }
      }
      