@use '../../../styles/variables'as *;
@use '../../../styles/mixins'as *;

.container-search-major {
    width: 400px;
    height: 752px;
    background: $color-11;
    border: 2px solid;
    border-radius: 20px;
    display: grid;

    @media screen and (min-width: $desktop-width) {
        width: $desktop-width;
        height: $desktop-height;
        background: $color-11;
        border: 2px solid;
        border-radius: 20px;
        display: grid;
    }

    .container-search-major-header {
        width: 388px;
        height: 1px;
        display: grid;
        @media screen and (min-width: $desktop-width) {
            width: 944px;
            height: 1px;
            display: grid;
            align-items: center;
            margin-left: 84px;
        }

        h1 {
            width: 128px;
            font-family: $font-source;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -3.36px;
            color: $color-7;
            margin-left: 24px;
            margin-top: 30px;

            @media screen and (min-width: $desktop-width) {
                width: 128px;
                font-family: $font-source;
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -3.36px;
                color: $color-7;
                margin-left: 24px;
                margin-top: 30px;
            }
        }

        .Search {
            width: 386;
            height: 63px;
            border-radius: 8px;
            margin-left: 24px;
            border: none;
            display: grid;

            @media screen and (min-width: $desktop-width) {
                width: 919px;
                height: 63px;
                border-radius: 8px;
                margin-left: 24px;
                border: none;
                display: grid;
            }

            &:focus {
                border-color: $color-8;
            }
        }

        .magnifying-glass {
            width: 56px;
            height: 36px;
            margin-left: 24px;
            margin-top: -53px;

            @media screen and (min-width: $desktop-width) {
                width: 56px;
                height: 36px;
                margin-left: 24px;
                margin-top: -70px;
            }
        }

    }

    .container-search-moods {
        width: 374px;
        height: 213px;
        display: grid;
        margin-left: 14px;
        margin-top: -19px;
        color: $color-7;

        @media screen and (min-width: $desktop-width) {
            width: 820px;
            height: 252px;
            display: grid;
            margin-left: 56px;
            margin-top: -16px;
            color: $color-7;
        }

        h3 {
            height: 36px;
            font-family: $font-source;
            font-size: 22px;
            font-weight: 700;
            @media screen and (min-width: $desktop-width) {
                height: 36px;
                font-family: $font-source;
                font-size: 47px;
                font-weight: 700;
            }
        }

        .emotions {
            width: 384px;
            height: 2px;
            display: grid;
            margin-top: -12px;
            @include flexCenter(row, space-between, center);
            @media screen and (min-width: $desktop-width) {
                width: 816px;
                height: 107px;
                display: grid;
                margin-top: -12px;
                /* gap: 60px; */
                margin-left: -24px;
                @include flexCenter(row, space-between, center);
            }

            .emotions-happy {
                width: 172px;
                height: 92px;
                background-color: $color-9;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                margin-left: 10px;
                border: none;
                display: grid;
                margin-left: 1px;
                @media screen and (min-width: $desktop-width) {
                    width: 260px;
                    height: 169px;
                    background-color: $color-9;
                    border-radius: 6px;
                    margin-top: 64px;
                    align-items: center;
                    margin-left: 196px;
                    border: none;
                    display: grid;
                  /*   margin-left: 1px; */
                    align-content: center;
                    gap: 20px;
                }

                .alegria {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 77px;
                    margin-left: 10px;
                    @media screen and (min-width: $desktop-width) {
                        width: 35px;
                        height: 20px;
                        font-family: $font-source;
                        font-size: 33px;
                        font-weight: 700;
                        color: $color-7;
                        margin-right: 84px;
                        margin-bottom: 77px;
                        margin-left: 10px;
                    }
                }
            }

            .emotions-anxiety {
                width: 172px;
                height: 92px;
                background-color: $color-10;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;

                @media screen and (min-width: $desktop-width) {
                    width: 260px;
                    height: 169px;
                    background-color: $color-10;
                    border-radius: 6px;
                    margin-top: 64px;
                    align-items: center;
                 /*    margin-left: 70px; */
                    border: none;
                    display: grid;
                    margin-left: -213px;
                    align-content: center;
                   /*  gap: 10px; */
                }

                .Ansiedad {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;

                    @media screen and (min-width: $desktop-width) {
                        width: 35px;
                        height: 20px;
                        font-family: $font-source;
                        font-size: 33px;
                        font-weight: 700;
                        color: $color-7;
                        margin-right: 84px;
                        margin-bottom: 77px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .container-search-browse {
        width: 365px;
        height: 12px;
        display: grid;
        margin-left: 14px;
        margin-top: -247px;
        color: $color-7;
        @media screen and (min-width: $desktop-width) {
            width: 726px;
            height: 274px;
            display: grid;
            margin-left: 116px;
            margin-top: -274px;
            color: $color-7;
        }
        h3 {
            height: 36px;
            font-family: $font-source;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.2px;
            @media screen and (min-width: $desktop-width) {
                height: 41px;
                font-family: $font-source;
                font-size: 53px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -1.8px;
            }
        }

        .browse {
            width: 384px;
            height: 130px;
            display: grid;
            margin-top: -80px;
            @include flexCenter(row, space-between, center);
            @media screen and (min-width: $desktop-width) {
                width: 725px;
                height: 160px;
                display: grid;
                margin-top: -41px;
                @include flexCenter(row, space-between, center);
            }

            .browse-podcast {
                width: 172px;
                height: 92px;
                background-color: $color-3;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;
                margin-top: 118px;
                @media screen and (min-width: $desktop-width) {
                    width: 1901px;
                    height: 133px;
                    background-color: $color-3;
                    border-radius: 6px;
                    /* margin-top: -51px; */
                    align-items: center;
                    border: none;
                    display: grid;
                    margin-left: 110px;
                    margin-top: 118px;
                    margin-right: -102px;
                }
                .podcast {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;
                    @media screen and (min-width: $desktop-width) {
                        width: 35px;
                        height: 20px;
                        font-family: $font-source;
                        font-size: 18px;
                        font-weight: 700;
                        color: $color-7;
                        margin-right: 84px;
                        margin-bottom: 79px;
                        margin-left: 10px;
                    }
                }
            }

            .new-realse {
                width: 172px;
                height: 92px;
                background-color: $color-1;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;
                margin-top: 118px;
                @media screen and (min-width: $desktop-width) {
                    width: 1901px;
                    height: 133px;
                    background-color: $color-1;
                    border-radius: 6px;
                    margin-top: -51px;
                    align-items: center;
                    border: none;
                    display: grid;
                    margin-left: 180px;
                    margin-top: 118px;
                }
                .new {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;
                }
            }
        }

        .container-browse {
            width: 384px;
            height: 130px;
            display: grid;
            margin-top: -19px;
            @include flexCenter(row, space-between, center);
            @media screen and (min-width: $desktop-width) {
                width: 612px;
                height: 160px;
                display: grid;
                margin-top: -23px;
                @include flexCenter(row, space-between, center);
                margin-left: 112px;
                gap: 58px;
            }
            .new-emotions {
                width: 172px;
                height: 92px;
                background-color: $color-4;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;
                margin-top: 118px;
                @media screen and (min-width: $desktop-width) {
                    width: 414px;
                    height: 108px;
                    background-color: $color-4;
                    border-radius: 6px;
                    margin-top: -51px;
                    align-items: center;
                    border: none;
                    display: grid;
                    margin-right: 18px;
                    margin-top: 118px;
                }
                .emo {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;
                    @media screen and (min-width: $desktop-width) {
                        width: 35px;
                        height: 20px;
                        font-family: $font-source;
                        font-size: 18px;
                        font-weight: 700;
                        color: $color-7;
                        margin-right: 84px;
                        margin-bottom: 79px;
                        margin-left: 10px;
                    }
                }
            }

            .for-you {
                width: 172px;
                height: 92px;
                background-color: $color-2;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;
                margin-top: 118px;
                  @media screen and (min-width: $desktop-width) {
                    width: 414px;
                    height: 108px;
                    background-color: $color-2;
                    border-radius: 6px;
                    margin-top: -51px;
                    align-items: center;
                    border: none;
                    display: grid;
                    margin-right: 18px;
                    margin-top: 118px;
                    }
                .you {
                    width: 35px;
                    height: 34px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    @media screen and (min-width: $desktop-width) {
                        width: 35px;
                        height: 34px;
                        font-family: $font-source;
                        font-size: 18px;
                        font-weight: 700;
                        color: $color-7;
                        margin-right: 84px;
                        margin-bottom: 79px;
                        margin-left: 10px;
                        display: flex;
                        align-items: center;;
                        }
                }
            }
        }

        .conatiner-minor {
            width: 384px;
            height: 130px;
            display: grid;
            margin-top: -19px;
            @include flexCenter(row, space-between, center);
            @media screen and (min-width: $desktop-width) {
                width: 612px;
                height: 160px;
                display: grid;
                margin-top: -23px;
                @include flexCenter(row, space-between, center);
                margin-left: 112px;
                gap: 58px;
            }
            .calm-minor {
                width: 172px;
                height: 92px;
                background-color: $color-9;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;
                margin-top: 118px;
                @media screen and (min-width: $desktop-width) {
                    width: 414px;
                    height: 108px;
                    background-color: $color-9;
                    border-radius: 6px;
                    margin-top: -51px;
                    align-items: center;
                    border: none;
                    display: grid;
                    margin-right: 18px;
                    margin-top: 118px;
                    }
                .calm {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;
                }
            }

            .home {
                width: 172px;
                height: 92px;
                background-color: $color-10;
                border-radius: 6px;
                margin-top: -51px;
                align-items: center;
                border: none;
                display: grid;
                margin-right: 18px;
                margin-top: 118px;
                @media screen and (min-width: $desktop-width) {
                    width: 414px;
                    height: 108px;
                    background-color: $color-10;
                    border-radius: 6px;
                    margin-top: -51px;
                    align-items: center;
                    border: none;
                    display: grid;
                    margin-right: 18px;
                    margin-top: 118px;
                    }
                .at {
                    width: 35px;
                    height: 20px;
                    font-family: $font-source;
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-7;
                    margin-right: 84px;
                    margin-bottom: 79px;
                    margin-left: 10px;
                }
            }
        }
    }
}