@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


    .signup-container {
    width: $mobile-width;
    height: $mobile-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 20px;
    background: $color-11;
    border: 2px solid  ;
    border-radius: 20px; /* Ajusta el espacio respecto al margen superior */
    }

    .signup-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px; /* Ajusta el espacio entre la imagen y el formulario */

    .back-icon {
      width: 30px;
      height: 30px;
      font-size: 20px;
      color: $color-9;
      cursor: pointer;
      margin-top: -200px; /* Ajusta la posición vertical de la flecha */
    
      &:hover,
      &:active,
      &:focus {
        color: $color-7;
      }
    }
    

    .logo {
        width: 150px; /* Ajusta el tamaño de la imagen */
        height: auto;
        margin-left: auto; /* Centra horizontalmente la imagen */
        margin-right: auto; /* Centra horizontalmente la imagen */
    }
    }

    .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Ajusta el espacio entre la imagen y el formulario */

    .input-group {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;

        .input-icon {
        margin-right: 10px;
        font-size: 18px;
        color: $color-9;
        }

        input {
        width: 100%;
        padding: 10px;
        border: 1px solid $color-9;
        border-radius: 5px;
        }
    }

    .signup-button {
        width: 100%;
        padding: 15px;
        background-color: $color-9;
        color: $color-7;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    }

    @media screen and (min-width: 768px) {
        .signup-container {
          width: $desktop-width;
          height: $desktop-height;
        }
      
        .signup-header .back-icon {
          margin-top: 0;
        }
      
        .signup-form .signup-button {
          width: auto;
        }
      }
  