@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.login-form {
    width: $mobile-width;
    height: $mobile-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $color-11;
    border: 2px solid ;
    border-radius: 20px;
    }

    .logo {
    width: 200px; 
    height: auto;
    margin-bottom: 20px; 
    }

    .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid $color-3; 
    border-radius: 5px;
    cursor: pointer;
    background-color: $color-9; 
    color: $color-7; 

    svg {
        margin-right: 8px; 
    }
    }

    .register-link {
    margin-top: 20px; 
    text-decoration: none;
    color: $color-4; 
    font-weight: bold;

    &:hover {
        color: $color-3;
    }
    }

    @media screen and (min-width: 768px) {
        .login-container {
          width: $desktop-width;
          height: $desktop-height;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: $color-11 ;
        }
      
        .logo {
          width: 300px;
          margin-bottom: 30px; 
        }
      
        .login-button {
          padding: 15px; 
        }
      
        .register-link {
          margin-top: 30px; 
      }
    }