@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
 
.Card-container {
  width: $mobile-width;
  height: $mobile-height; 
  display: flex; 
  overflow-x: hidden; 
  @include removeScrollBar;
  padding-bottom: 20px; 
  margin-left: 10px;

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    height: $desktop-height;
  }
}

.gallery-container-1 {
  display: flex; 
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: hidden; 
  @include removeScrollBar;

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    height: $desktop-height;
  }
}

.gallery-container-1 img {
  width: 150px; 
  height: 175px; 
  border-radius: 10px; 

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    height: $desktop-height;
}
}

.gallery-container-1 {
  display: flex; 
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: hidden;  
  @include removeScrollBar;
}

.gallery-container-1 img {
  width: 150px; 
  height: 175px; 
  border-radius: 10px; 
}

