@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
 
.Card-container {
  width: 383px; 
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
    height: 596px;
    justify-content: space-between; 
    margin-left: 33px;
    margin-top: 45px;
    overflow-y: hidden;
    object-fit: cover; 
  @media screen and (min-width: $desktop-width) {
    width: 1000px;
    height: $desktop-height; 
    margin-left: 74px;
    margin-top: -188px;
  }
}

.gallery-container-1 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;// Utiliza overflow-x: auto para permitir el desplazamiento horizontal si es necesario
  @include removeScrollBar;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;// Utiliza overflow-x: auto para permitir el desplazamiento horizontal si es necesario
    @include removeScrollBar;
  }
}

.gallery-container-1 img {
  width: 150px; 
  height: 175px; 
  border-radius: 10px; 
 
  @media screen and (min-width: $desktop-width) {
    width: 200px; 
  height: 175px; 
  border-radius: 10px; 
  }
}

