@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.navbar-container-Principal {
  width: 66%;
  height: 51px;
  display: flex;
  justify-content: space-around; /* Ajusta el espacio entre los elementos */
  align-items: flex-start; /* Alinea los elementos en la parte inferior */
  position: absolute;
  margin-top: 679px;
}

.navabr-container-principal-1,
.navabr-container-principal-2,
.navabr-container-principal-3 {
 /*  width: 40px;
  height: 20px; */
  flex: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home,
.search,
.library {
  width: 25px;
  height: 20px;
  font-size: 24px;
  color: $color-7;
}

.ho,
.search-1,
.your {
  color: $color-7; /* Color del texto */
  font-size: 8px; /* Tamaño del texto */
  margin-top: 2px; /* Ajusta la separación entre el icono y el texto */
}
