@use '../../../styles/variables'as *;
@use '../../../styles/mixins'as *;

.container-home {
  width: $mobile-width;
  height: $mobile-height;
  background: $color-11;
  
  border-radius: 20px;
  font-family: $font-source;

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    height: $desktop-height;
    background: $color-11;
   
    border-radius: 20px;
    font-family: $font-source;
  }
}

.contianer-header-home {
  width: 380px;
  height: 73px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
  /* background-color: $color-11; */
  color: $color-7;
  margin-left: 20px;
  margin-top: 9px;

  @media screen and (min-width: $desktop-width) {
    width: 98%;
    height: 73px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    /*  background-color: $color-11; */
    color: $color-7;
    margin-left: 20px;
    margin-top: 20px;
  }
}


.imgen-profile-icon {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  color: $color-7;
  @media screen and (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
    /* gap: 5px; */
  }
  .imgen-profile{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    @media screen and (min-width: $desktop-width) {
      width: 50px;
      height: 50px;
      margin-top: 2px;
      color: $color-7;
    }
  }
}

.all,
.Music {
  width: 70px;
  height: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: $color-13;
  margin-top: 10px;
  &:hover,
  &:active,
  &:focus {
    color: $color-14;
  }
  @media screen and (min-width: $desktop-width) {
    width: 244px;
    height: 33px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: $color-13;
    margin-top: 10px;

    &:hover,
    &:active,
    &:focus {
      color: $color-14;
    }
  }
}

.interations {
  width: 15%;
  height: 0;
  display: flex;
  /* cursor: pointer; */
  align-items: center;
  gap: 5px;
  margin-right: 18px;

  /*   &:hover,
  &:active,
  &:focus {
    color: $color-14;
  } */
  @media screen and (min-width: $desktop-width) {
    width: 11%;
    height: 0;
    /* cursor: pointer; */
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    margin-right: 17px;
    /* &:hover,
    &:active,
    &:focus {
      color: $color-14;
    } */
  }
}

.interations>div {
  width: 26px;
  height: 10px;
  color: $color-7;
  align-items: center;
  gap: 5px;

  @media screen and (min-width: $desktop-width) {
    width: 43px;
    height: 20px;
    color: $color-7;
    align-items: center;
  }
}

.interations>div 
.bell,
.history {
  width: 22px;
  height: 22px;
  gap: 5px;
  @media screen and (min-width: $desktop-width) {
    width: 30px;
    height: 30px;
    gap: 5px;
  }
}
.settings {

  width: 26px;
  height: 26px;
  color: $color-7;
  align-items: center;
  gap: 5px;
  margin-top: 4px;
  @media screen and (min-width: $desktop-width) {
    width: 30px;
    height: 30px;
    gap: 5px;
  }
}

container-home-body {
  width: 414px;
  height: 718px;
  display: grid;

  @media screen and (min-width: $desktop-width) {
    width: 414px;
    height: 718px;
    display: grid;
  }
}


.container-home-body > div {
  width: 414px;
  height: 227px;
  margin-bottom: -27px;

  @media screen and (min-width: $desktop-width) {
    width: 475px;
    height: 245px;
    margin-bottom: -27px;
  }
}

.container-home-body,
.container-home-body-1,
span {
  font-weight: bold;
  margin-left: 5px;
  margin-top: -3px;
  color: $color-7;
  font-family: $font-source;
  font-size: 15px;

  @media screen and (min-width: $desktop-width) {
  
    font-weight: bold;
    margin-left: 10px;
    margin-top: 28px;
    font-size: 20px;
    font-weight: 700;
  }
}

@media screen and (min-width: $desktop-width) {
  .container-home {
    width: $desktop-width;
    height: $desktop-height;
  }
}